In [37]:
import pandas as pd
import geopandas as gpd

In [38]:
grid = pd.read_csv("grid.csv")
intersection = pd.read_csv("../../data/intersection_data/intersection.csv")

In [39]:
df_grid = grid
df_grid.drop(["geometry"], axis=1)

,Unnamed: 0,gid,ID,UF,Col,Row,Polo,Declividade,Curvatura,APP30m,...,t_nremunerado_18m,t_vulner_mais1h,t_renda_trab,t_carteira_18m,t_scarteira_18m,t_setorpublico_18m,t_contapropria_18m,t_empregador_18m,t_formal_18m,t_atividade10a15
0,0,100ME5208050N7956750,C10L1067,RS,10.0,1067.0,Porto Alegre,4.919002,6.333333,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,100ME5208050N7956850,C10L1068,RS,10.0,1068.0,Porto Alegre,4.900816,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100ME5208050N7956950,C10L1069,RS,10.0,1069.0,Porto Alegre,4.152381,4.666667,0.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100ME5208150N7956750,C11L1067,RS,11.0,1067.0,Porto Alegre,3.205212,7.777778,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,100ME5208150N7956850,C11L1068,RS,11.0,1068.0,Porto Alegre,5.218916,4.166667,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735153,735153,100ME7090650N10419450,C896L1164,PE,896.0,1164.0,Recife,1.944661,3.511628,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735154,735154,100ME7090650N10419550,C896L1165,PE,896.0,1165.0,Recife,3.191298,3.777778,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735155,735155,100ME7090650N10419650,C896L1166,PE,896.0,1166.0,Recife,1.246800,1.888889,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735156,735156,100ME7090650N10419750,C896L1167,PE,896.0,1167.0,Recife,1.599806,1.418605,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735157,735157,100ME7090650N10419850,C896L1168,PE,896.0,1168.0,Recife,1.291296,5.382979,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df_grid["target"] = 0

In [41]:
intersection = intersection.rename({"V5a": "target"}, axis=1).drop(["geometry", "V1"], axis=1).drop_duplicates()

In [42]:
intersection.columns

Index(['target', 'gid', 'ID', 'UF', 'Col', 'Row', 'Polo', 'Declividade',
       'Curvatura', 'APP30m',
       ...
       't_nremunerado_18m', 't_vulner_mais1h', 't_renda_trab',
       't_carteira_18m', 't_scarteira_18m', 't_setorpublico_18m',
       't_contapropria_18m', 't_empregador_18m', 't_formal_18m',
       't_atividade10a15'],
      dtype='object', length=116)

In [43]:
intersection = intersection.groupby('gid').apply(lambda group: group.sample(1)).reset_index(drop=True)

In [44]:
df_grid = df_grid.drop(["geometry"], axis=1)

In [45]:
missing_ids = pd.merge(intersection["gid"], df_grid, on='gid', how='right', indicator=True)

In [46]:
missing_ids.head()

,gid,Unnamed: 0,ID,UF,Col,Row,Polo,Declividade,Curvatura,APP30m,...,t_renda_trab,t_carteira_18m,t_scarteira_18m,t_setorpublico_18m,t_contapropria_18m,t_empregador_18m,t_formal_18m,t_atividade10a15,target,_merge
0,100ME5208050N7956750,0,C10L1067,RS,10.0,1067.0,Porto Alegre,4.919002,6.333333,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,right_only
1,100ME5208050N7956850,1,C10L1068,RS,10.0,1068.0,Porto Alegre,4.900816,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,right_only
2,100ME5208050N7956950,2,C10L1069,RS,10.0,1069.0,Porto Alegre,4.152381,4.666667,0.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,right_only
3,100ME5208150N7956750,3,C11L1067,RS,11.0,1067.0,Porto Alegre,3.205212,7.777778,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,right_only
4,100ME5208150N7956850,4,C11L1068,RS,11.0,1068.0,Porto Alegre,5.218916,4.166667,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,right_only

In [47]:
result_df = missing_ids[missing_ids['_merge'] == 'right_only'].drop(['_merge', 'Unnamed: 0'], axis=1)

In [48]:
multi_class_grid = pd.concat([intersection, result_df], ignore_index=True)

In [49]:
len(multi_class_grid)

735158

In [50]:
multi_class_grid.to_csv("multi_class_grid.csv")