In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
import pickle
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("../../data/compacted_data/multi_class_grid.csv").drop(["gid", "ID", "UF", "Row", "Col", "Unnamed: 0"], axis=1).rename(columns={"target": "y"})

In [3]:
df.head()

,y,Polo,Declividade,Curvatura,APP30m,UCIntegral,AltaTensao,Vias50m,Dutovias,IndiceForma,...,t_nremunerado_18m,t_vulner_mais1h,t_renda_trab,t_carteira_18m,t_scarteira_18m,t_setorpublico_18m,t_contapropria_18m,t_empregador_18m,t_formal_18m,t_atividade10a15
0,2.0,Porto Alegre,1.346945,4.444444,0.500000,0.0,0.0,1.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Porto Alegre,1.094604,4.416667,0.250000,0.0,0.0,1.0,0.0,0.036452,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Porto Alegre,0.557238,2.928571,0.583333,0.0,0.0,1.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,Porto Alegre,1.177642,5.888889,0.083333,0.0,0.0,1.0,0.0,0.282501,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,Porto Alegre,0.945264,1.583333,0.000000,0.0,0.0,1.0,0.0,0.999619,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
distribution = df.groupby('Polo')['y'].apply(lambda x: x.value_counts(normalize=True)).unstack(fill_value=0)
distribution

,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0
Polo,,,,,,,,,
Belo Horizonte,0.777496,0.054477,0.141155,0.008416,0.016142,0.001774,0.000389,0.000000,0.000150
BrasÃ­lia,0.891087,0.009466,0.092774,0.001154,0.005310,0.000000,0.000186,0.000023,0.000000
Juazeiro do Norte,0.786435,0.046398,0.037955,0.010984,0.115970,0.000000,0.002258,0.000000,0.000000
MarabÃ¡,0.726757,0.103814,0.099264,0.013089,0.044492,0.010140,0.002444,0.000000,0.000000
Porto Alegre,0.925445,0.041798,0.030854,0.000331,0.000884,0.000000,0.000161,0.000000,0.000527
Recife,0.750433,0.124269,0.072603,0.006786,0.018879,0.000509,0.000721,0.023685,0.002115