# Prepare Dataset for Modeling

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
import pickle
from sklearn.model_selection import train_test_split

## Import and Join Datasets

In [3]:
df = pd.read_csv("../../data/compacted_data/multi_class_grid.csv").drop(["gid", "ID", "UF", "Row", "Col", "Unnamed: 0"], axis=1).rename(columns={"target": "y"})

In [4]:
df.head()

,y,Polo,Declividade,Curvatura,APP30m,UCIntegral,AltaTensao,Vias50m,Dutovias,IndiceForma,...,t_nremunerado_18m,t_vulner_mais1h,t_renda_trab,t_carteira_18m,t_scarteira_18m,t_setorpublico_18m,t_contapropria_18m,t_empregador_18m,t_formal_18m,t_atividade10a15
0,2.0,Porto Alegre,1.346945,4.444444,0.500000,0.0,0.0,1.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Porto Alegre,1.094604,4.416667,0.250000,0.0,0.0,1.0,0.0,0.036452,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Porto Alegre,0.557238,2.928571,0.583333,0.0,0.0,1.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,Porto Alegre,1.177642,5.888889,0.083333,0.0,0.0,1.0,0.0,0.282501,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,Porto Alegre,0.945264,1.583333,0.000000,0.0,0.0,1.0,0.0,0.999619,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Handle missing values

In [5]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=True)
drop_cols = percent_missing.loc[percent_missing > 50].index.tolist()
df.drop(drop_cols, axis = 1, inplace=True)

In [6]:
df = df.fillna(df.median())

C:\Users\Caio\AppData\Local\Temp\ipykernel_6812\3493596106.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.median())

In [7]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=True)

y               0.0
LixoJogado      0.0
LixoAterrado    0.0
LixoQueimado    0.0
LixoLimpeza     0.0
               ...
DomSRedeEsg     0.0
DomSEsg         0.0
DomSMed         0.0
NResp30         0.0
NResp30NAlf     0.0
Length: 72, dtype: float64

## Split training and test

In [12]:
polos = ['Porto Alegre', 'MarabÃ¡', 'BrasÃ­lia', 'Belo Horizonte', 'Juazeiro do Norte', 'Recife']

In [13]:
for p in polos:
    test = df[df.iloc[:, 1] == p]
    X_test = test.loc[:, test.columns != "y"]
    y_test = test["y"]
    X_test.to_pickle(f"../../data/model_input/multiclass/X_{p}.pkl")
    y_test.to_pickle(f"../../data/model_input/multiclass/y_{p}.pkl")